* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(./images/backgorund.jpg) no-repeat center fixed;
  background-size: cover;
  color: aliceblue;
}

.main {
  margin: 0 auto;
  width: 80%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  margin-left: 10rem;
}

.heading {
  margin-top: 2rem;
  margin-left: 10rem;
  text-shadow: 1px 1px rgb(0 0 0 / 10%), 0 0 15px #fff;
}

.score {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.scores {
  margin-top: 1rem;
  list-style: none;
  width: 100%;
  border: 2px solid #567dffd8;
  background-color: rgba(161, 161, 255, 0.774);
  border-radius: 2rem;
  text-align: center;
  padding: 0;
}
.para {
  text-shadow: 1px 1px rgb(0 0 0 / 10%), 0 0 15px #fff;
}
.scoring {
  text-shadow: 1px 1px rgb(0 0 0 / 10%), 0 0 15px #fff;
}
.display {
  width: 50%;
}

.users {
  padding: 1rem;
}

.users2 {
  background-color: rgba(161, 161, 255, 0.774);
}

.form-add {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form-add input {
  width: 60%;
  padding: 0.5rem;
  border: 2px solid #567dffd8;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgba(161, 161, 255, 0.774);
}
.form-add input::placeholder {
  color: aliceblue;
}

.btn {
  width: 5rem;
  background: #567dffd8;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  border-radius: 1rem;
  text-shadow: 1px 1px rgb(0 0 0 / 10%), 0 0 15px #fff;
}

.btn:hover {
  background: rgb(194, 194, 194);
}
.btn-refresh:active {
  background-color: aliceblue;
}
